body{
    background-color: #0D0D0F;
    color:white;
}

/* JSON Form & Structure  */

legend {
    color: white;
}
.btn-info{
    background-color: #FDD344 !important;
    border-color: #FDD344 !important;
    color: black !important;
}
.btn-info:hover{
    background-color: #FDD344 !important;
    border-color: #FDD344 !important;
    color: black !important;
}
.options-title{
    text-align: right;
}
.editor-title{
    text-align: center;
}
span{
    color: white;
}
.editor-form{
    padding:0 25px 0 36px;
    margin-bottom:1rem;
    border-right:1px solid white;
    min-height:91vh;
}
.json-structure{
    padding:0 35px 0 20px;
    margin-bottom:1rem
}
.object-key-val{
    border-left: none !important;
}
.variable-row{
    border-left: none !important;
}
.icon-button{
    background-color: #1A1A1A !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
}
.icon-button:hover{
    background-color: #1A1A1A !important;
}
@media(max-width:1199.5px){
    .json-structure{
        padding: 0 25px 0 36px;
    }
}
@media(max-width:768px){
    .hiverlab-logo{
        text-align: center;
    }
    .options-title{
        text-align: center;
    }
    .editor-title{
        text-align: center;
    }
}


/* Login */

.OuterLoginContainer {
    display: flex;
    justify-content: center;
    background-color: #1A1A1D;
    height: 100vh;
    align-items: center;
}

.login_heading {
    color: white;
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: max-content;
    margin: 0 auto 10% auto;
}

.InnerLoginContainer {
    width: 30%;
}

@media (min-width: 320px) and (max-width: 517px) {
    .InnerLoginContainer {
        width: 90%;
    }
}

.login-button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background: #FDD344;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.login-button:hover {
    background: rgb(12, 11, 11);
    color: white
}

.login-button:focus {
    outline: 0;
}
.mt-20{
    margin-top: 20px;
}
